streamlit>=1.36.0
st-supabase-connection>=1.2.1
supabase>=2.5.0
pillow>=10.3.0
numpy>=1.26.0
opencv-python-headless>=4.9.0.80
scikit-learn>=1.4.0
streamlit-drawable-canvas>=0.9.3
openai>=1.30.0
python-dotenv>=1.0.1
